*,
*::before,
*::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI';
}

ul{
    list-style: none;
}

body{
    background-color: rgb(233, 231, 231);
}

.container{
    margin: 5rem auto;
    max-width: 960px;
    text-align: center; /* TEMPORARY */
}

.header{
    font-weight: normal;
    margin-bottom: 20px;
}

/*----------- Inputs -----------*/

.input{
    border-radius: 0px 6px 6px 0px;
    border: 3px solid rgb(243, 154, 138);
    height: 2.5rem;
    width: 90%;
    margin: 10px 0;
    padding: 0px 10px;
}

.submit-btn{
    margin-top: 12px;
    width: 94%;
    height: 2.5rem;
    border: 3px solid rgb(243, 154, 138);
    border-radius: 6px 6px 6px 6px;
    cursor: pointer;
}

.icon{
    padding-top: 8px;
    padding-bottom: 12px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 6px 0px 0px 6px;
    font-size: 20px;
    background-color: rgb(243, 154, 138);
}

.fa-user-circle{
    width: 37.5px;
    height: 40px;
}

/* "Global Card" */

/* .card-placeholder{
    background-color: #ffffff;
    width: 200px;
} */

.card-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}

.card-placeholder{
    margin-top: 20px;
}

.card-top{
    height: 200px;
    background-color: white;
    border: solid 1px black;
    border-bottom: 0px;
    border-radius: 6px 6px 0px 0px;
    background: url(https://picsum.photos/400/600);
    background-size: cover;
}

.card-info{
    /* display: flex;
    flex-flow: column; */
    border-top: 1px solid black;
    /* width: 300px; */
    height: 110px;
    background-color: white;
    border: solid 1px black;
    border-radius: 0px 0px 6px 6px;
    text-align: left;
}

h6{
    color: #ffffff;
    border-radius: 5px;
    padding: 4px;
    display: table;
    margin-top: 9px;
    margin-left: 22px;
}

.name-cont, .course-cont, .author-cont{
    display: flex;
}

.name-name{
    color: #000000;
    background-color: yellow;
    margin-right: 5px;
}

p{
    margin-left: 20px;
    margin-top: 9px;
}

.course-name{
    background-color: red;
}

.author-name{
    background-color: green;
}

/* button OFF (FUNKAR EJ ATM) */
.submit-btn:disabled{
    opacity: 20%;
    cursor: default;
}


/* Media querys */

@media(max-width: 940px){
    .card-section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* margin-left: 27px;
        margin-right: -64px; */
        padding: 10px;
    }

    /* .card-top, .card-info{
        width: 80%;
    } */

}

@media(max-width: 630px){
    .card-section{
        display: grid;
        grid-template-columns: 1fr;
    }
}